<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Me</title>
    <link rel="stylesheet" href="/static/style.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

<!-- NAVBAR -->
<nav class="navbar fade-in">
    <h2 class="nav-title">Portfolio</h2>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="">Contact</a></li>
    </ul>
</nav>

<div class="container fade-in">
    <div class="card">
        <h1 class="title">Contact Me</h1>

        <form method="POST">
            <input type="text" name="name" placeholder="Your Full Name" required>
            <input type="email" name="email" placeholder="Your Email Address" required>
            <textarea name="message" placeholder="Write your message..." required></textarea>

            <button class="btn" type="submit">Send Message</button>
        </form>
    </div>
</div>

</body>
</html>
